body {
    background-color: rgb(149, 234, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    background-color: rgb(0, 80, 155);
    color: white;
}

h2 {
    color: #05633e;
    background-color: white;
}

.image-full {
    height: 425px;
    width: auto;
}

.image-preview {
    height: 200px;
    width: auto;
}

.main-menu .recipe-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-menu {
    margin-left: 20%;
    margin-right: 20%;
}

.recipe-content {
    margin-left: 20%;
    margin-right: 20%;
}