body {
    background-color: rgb(149, 234, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    background-color: rgb(0, 80, 155);
    color: white;
    font-size: 4vw;
}

h2 {
    color: #05633e;
    background-color: white;
    font-size: 3vw;
}

.image-full {
    height: 425px;
    width: auto;
}

.image-preview {
    height: 200px;
    width: auto;
}

.main-menu .recipe-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-menu {
    padding: 5%;
    background-color: wheat;
    font-size: 1.5vw;
}

.page-content {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.info {
    text-align: left;
    font-size: 1.75vw;
    padding-left: 10%;
    padding-right: 10%;
}

#ingrd, #steps {
    padding-left: 27.5%;
    padding-right: 20%;
}