body {
    background-color: rgb(149, 234, 255);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    background-color: rgb(0, 80, 155);
    color: white;
}

h2 {
    color: #05633e;
    background-color: white;
}

.centered img {
    height: 425px;
    width: auto;
}

.centered {
    text-align: center;
}